/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Header Styling */
header {
    background-image: url('Americas.jpg');
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Top Banner Text Styling */
header h1 {
    color: #e63946; /* Change the text color to red for better contrast */
}

/* Navigation Styling */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #1d3557;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #e63946;
}

/* Section Styling */
section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
h1, h2, h3 {
    color: #1d3557;
}

/* Paragraph Styling */
p {
    text-align: justify;
}

/* Footer Styling */
footer {
    background-color: #1d3557;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
