/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    font-size: 87.5%;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.7em;
    text-align: left;
}
header img.american-flag-image {
    display: block;
    margin: 0 auto; 
}
footer img.uofsc {
    display: block;
    margin: 0 auto; 
    size:24px;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Gap between the columns */
}

/* Style the main content grid blocks */
.main-content {
    padding: 20px;
    background-color: #f0f0f0; /* Adjust background color as needed */
    border: 1px solid #ccc;
}
/* Container Styles */
#container {
    width: 80%;
    margin: 0;
    overflow: auto;
    clear: both;
    display: flex; /* Apply Flexbox to the container */
}

/* Sidebar Styles */
.sidebar {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Main Content Styles */
main {
    width: 75%;
    padding: 20px;
}

/* Flexbox Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    flex: 1;
    order: 2;
}

.sidebar {
    flex: 1;
}

.main-content {
    flex: 2;
}

/* Header Styling */
header {
    text-align: center;
}

/* Top Banner Text Styling */
header h1 {
    color: #e63946;
}

/* Navigation Styling */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #1d3557;
    font-weight: bold;
    display: block;
    transition: color 0.3s;
}

nav a:hover {
    color: #e63946;
}

/* Side Navigation Styling */
.side-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.side-nav li {
    margin-bottom: 10px;
}

.side-nav a {
    text-decoration: none;
    color: #1d3557;
    display: block;
}

.side-nav a:hover {
    color: #e63946;
}

/* Section Styling */
section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
h1, h2, h3 {
    color: #1d3557;
}

/* Paragraph Styling */
p {
    text-align: justify;
}

/* Footer Styling */
footer {
    background-color: #1d3557;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/* Newsletter Button Styling */
.newsletter-button {
    background-color: #e63946;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-button:hover {
    background-color: #c33c3c;
}

/* CSS for the Red Submit Button */
.red-button {
    background-color: #e63946;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.red-button:hover {
    background-color: #c33c3c;
}
